body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
}

.headerBody{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(237, 242, 255, 0.683);
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;

}

.logoHeader{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoHeader img{
    margin-left: 20px;
    width: 150px;
}


.navListaHeader{
    margin-right: 50px;

}

.navListaHeader ul{
    display: flex;
    justify-content: center;
    gap: 20px; 
    padding: 0%;
}

.navListaHeader li{
    list-style: none;
}

.navListaHeader a{
    display: inline-block;
    text-decoration: none;
    color: #070707;
    font-size: large;
    position: relative;
}

.navListaHeader a:hover{
    background-color: #403a4e38;
    color: #000000;
    transition: 0.3s;
}

.navListaHeader a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #07070757;
}

@media (width> 1000px) {
    .navListaHeader ul{
        gap: 30px; 
        margin-right: 50px;
    }
    .navListaHeader a{
        font-size: 24px;
    }

    .logoHeader img{
        width: 200px;
        margin-left: 50px;
    }
}

.sectionHead{
    display: flex;
    flex-direction: column;
    margin: 0%;
    margin-top: 150px;
}

.divProductHead{
    color: #070707;
    left: 0px;
    align-items: center;    
}

.divProductHead h1{
    gap: 10px;
    color: #302b3a;
    font-size: 40px;
    font-family: Helvetica;
    margin: 0%;
    margin-left: 20px;
}

.divProductHead p{
    letter-spacing: 1px;
    font-family: Gill Sans;
    font-size: 20px;
    gap: 10px;
    margin: 0%;
    margin: 20px 100px 10px 30px;
}

.contentImg{
    background: rgba(127, 174, 255, 0.149);
    padding: 20px;
    margin: 10px 10px 50px 10px;
    border-radius: 10px;

}

.imgProduct{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


.mainBody{
    padding-top: 50px;
    margin: 50px 0px 50px 0px;
    background: #08083dd3;
    box-shadow: #000000 0px 0px 5px;
    
}

.buttonHead{
    padding: 10px 20px;
    font-size: large;
    font-family: Helvetica;
    
    box-shadow: #000000 0px 0px 5px;
    border: none;
    background-color: #403a4e;
    color: #f0f0f0;
    cursor: pointer;
    margin: 20px 10px;

}

.buttonHead:hover{
    background-color: #403a4e9c;
    color: #000000;
    transition: 0.3s;
}


@media (width> 1000px) {
    .sectionHead{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .divProductHead{
        margin-left: 50px;
    }
    .divProductHead h1{
        font-size: 50px;
    }
    .divProductHead p{
        font-size: 28px;
    }

    .buttonHead{
        margin: 100px 0px 0px 100px;
        padding: 20px 30px;
        font-size: 28px;
        font-weight: 600;

        
    }
    
    .contentImg{
        margin-right: 50px;
    }

    .imgProduct{
        
        border-radius: 10px;
        box-shadow: #000000 0px 0px 10px;
    }

}





.sectionProducts{
    width: 100%;
    margin: 0%;


}

.divTitleProducts{
    display: flex;
    flex-direction: column;
}

.divTitleProducts h3{
    color: #bdbdbd;
    font-size: 24px;
    font-family: Gill Sans;
    margin: 10px 0px 0px 30px;
    font-weight: 200;
    letter-spacing: 1px;
}

.divTitleProducts h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Helvetica;

    margin: 0px 0px 50px 10px;
}





.divArticlesProducts{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px 0px 50px 0px ;
    margin: 0px 100px 0px 100px;
}




.boxImg{
    margin: 0px 20px 0px 20px;
    padding: 10px 30px;
    background: rgba(179, 198, 255, 0.298);
    border-radius: 5px;
    box-shadow: #000000 0px 0px 10px;
}



.divInfoProduct{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenProduct h2{
    margin: 0%;
    margin: 10px 0px 0px 10px;
    font-size: 20px;
    color: #ffffff;
}

.contenProduct p{
    margin: 0%;
    margin: 5px 0px 5px 20px;
    color: #dadada;
}


.priceProduct h3{
    margin: 0%;
    margin: 5px 10px 0px 0px;
    color: #ffffff;
    font-size: 28px;

}

.imgProductExp{
    max-width: 100%;
    height: auto;
    border-radius: 2px;
}

.footerBody{
    background: #0000004f;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBody p{
    color: #3a3a3a;
    font-size: 14px;
    font-family: Gill Sans;
    margin: 0%;
}

@media (width> 1000px) {
    .divArticlesProducts{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 5px 0px 5px;
    }
    .boxImg{
        width: 600px;
    }

    .divInfoProduct h2{
        font-size: 24px;        
    }
    .divInfoProduct p{
        font-size: 18px;
    }
}



@media (width> 1000px) {
    .footerBody p{
        font-size: 24px;
    }
}









.compraOculta{
    display: none;
    
}

.compraOculta.active{
    display: block;
    position: absolute;

    top: 80px;
    right: 80px;
    background-color: rgba(0, 0, 0, 0.685);
    padding: 50px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    gap:50px;
}

.compraOculta a{
    color: #f0f0f0;
    font-size: 16px;
    font-weight: 500;
    font-family: Helvetica;
    text-decoration: none;
    background-color: #003729;
    padding: 5px;
    border-radius: 10px;

}